.slider {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 60s linear infinite;
}

.slide {
  align-items: center;
  padding: 15px;
  display: flex;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 10));
  }
}
