@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 1480px;
  margin: 0 auto;
}

.dark-mode {
  background-color: #181818;
  color: white;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* body {
  background: linear-gradient(-45deg, #e1ecf8, #c7eafa, #ffffff, #c6f6ff);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  height: 160vh;
  width: full;
  color: black;
} */

@keyframes gradient {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 80%;
  }
  100% {
    background-position: 0% 80%;
  }
}

.background-animated {
  width: 100%;
  /* position: absolute; */
  background-color: #7bb7e7;
  background-size: 1200px;
  background-image: url("../public/collage.png");
  animation: infiniteScrollBg 64s linear infinite;
}

@keyframes infiniteScrollBg {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% (404px 2);
  }
}

.background-animated1 {
  width: 100%;
  /* position: absolute; */
  background-size: 795px;
  background-image: url("../public/collage2.png");
  animation: infiniteScrollBg 300s linear infinite;
}

.background-animated2 {
  width: 100%;
  /* position: absolute; */
  background-size: 800px;
  background-image: url("../public/collage3.png");
  animation: infiniteScrollBg 300s linear infinite;
}
